<html>
<head>
<title>
Mining Shed Last Difficulty
</title>
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
</head>
<body bgcolor="#000000">
<p>
<style> table {	border-collapse: collapse;} table, th, td {border: 1px solid #606060; padding-left: 10px; padding-right: 10px </style>

<div>
 <h1><FONT COLOR="#FFFFFF">Mining Shed Last Difficulty</FONT></h1>
</div>
<a href="..">Back</a>
<table>
 <tr>
  <th bgcolor="#A0A0A0">Abv</th>
  <th bgcolor="#A0A0A0">Name</th>
  <th bgcolor="#A0A0A0">Price</th>
  <th bgcolor="#A0A0A0">Nethash</th>
  <th bgcolor="#A0A0A0">Block Reward</th>
  <th bgcolor="#A0A0A0">Block Time</th>
  <th bgcolor="#A0A0A0">Algo</th>
 </tr>
  
{% for display in display_last %}
 <tr>
  <td> <FONT COLOR="#A0A0A0"><a href="{% url 'coin_chart' abv=display.abv %}">{{ display.abv }}</a></FONT></td>
  <td> <FONT COLOR="#A0A0A0">{{ display.name }}</FONT></td>
  <td> <FONT COLOR="#A0A0A0">${{ display.price }}</FONT></td>
  <td> <FONT COLOR="#A0A0A0">{{ display.nethash }}</FONT></td>
  <td> <FONT COLOR="#A0A0A0">{{ display.blockr }}</FONT></td>
  <td> <FONT COLOR="#A0A0A0">{{ display.blockt }}</FONT></td>
  <td> <FONT COLOR="#A0A0A0">{{ display.algo }}</FONT></td>
 </tr>
{% endfor %}

</table>

</html>
