<html>
<head>
<title>
Mining Shed Monitor
</title>
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
</head>

<style> 
table {	border-collapse: collapse;} {height:5px} table, th, td {border: none} 
.tg .tg-yw4l{vertical-align:top}
.tg .tg-uiv9{vertical-align:bottom}
</style>

<div id="title">
 <h1><FONT COLOR="#FFFFFF">Mining Shed Monitor</FONT></h1>
</div>

<div id="headlinks">
<a href="history_list.html" target="_blank">Temp History</a>
&nbsp;&nbsp;<FONT COLOR="#FFFFFF">-</FONT>&nbsp;&nbsp;<a href="entry_list.html" target="_blank">Temp Entries</a>
&nbsp;&nbsp;<FONT COLOR="#FFFFFF">-</FONT>&nbsp;&nbsp;<a href="/display_last_difficulty.html" target="_blank">Diff History</a>
&nbsp;&nbsp;<FONT COLOR="#FFFFFF">-</FONT>&nbsp;&nbsp;<a href="/admin" target="_blank">Admin</a>
</div>


<table>
	<tr>
                <td style="height:30px;width:1890px" rowspan="1" colspan="5">
			<iframe src="price_ticker.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px;" frameBorder="0" scrolling="no">       
			</iframe>
                </td>
                <td style="height:350px;width:390px" rowspan="4" colspan="1">
                        <iframe src="live_camera.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
                        </iframe>
                </td>
	</tr>
	<tr>
		<td style="height:160px;width:260px" rowspan="1" colspan="1">
			<iframe src="live_power.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px;" frameBorder="0" scrolling="no">
			</iframe>
		</td>
                <td class="tg-yw4l" style="height:320px;width:300px" rowspan="3" colspan="1">
                        <iframe src="display_daily_profit.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
                        </iframe>
                </td>
		<td style="height:320px;width:260px" rowspan="3" colspan="1">
			<iframe src="live_wallet.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
			</iframe>
		</td>
		<td style="height:160px;width:720px" colspan="2" rowspan="1">
			<iframe src="live_mphpool.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
			</iframe>
		</td>
	</tr>
	<tr>
                <td class="tg-yw4l" style="height:80px;width:260px" rowspan="1" colspan="1">
                        <iframe src="live_forecast.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
                        </iframe>
                </td>
		<td class="tg-yw4l" style="height:160px;width:410px" rowspan="2" colspan="1">
			<iframe src="live_asicminers.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
			</iframe>
		</td>
                <td class="tg-yw4l" style="height:160px;width:310px" rowspan="2" colspan="1">
                        <iframe src="live_gpuminers.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
                        </iframe>
                </td>	</tr>
        <tr>
                <td class="tg-yw4l" style="height:80px;width:260px" rowspan="1" colspan="1">
                        <iframe src="live_readout.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
                        </iframe>
                </td>
        </tr>
</table>


<iframe src="http://192.168.10.50:8800/" width="1890" height="800" position:relative;bottom:0px;bottom:0px align="bottom" frameBorder="0" name="local">
</iframe>


</html>
