<html>
<head>
<title>
Mining Shed Monitor
</title>
</head>
<body bgcolor="#000000">

<style> table {	border-collapse: collapse;} {height:20px} table, th, td {border: none} </style>

<div id="title">
 <h1><FONT COLOR="#FFFFFF">Mining Shed Monitor</FONT></h1>
</div>

<div id="headlinks">
<a href="history_list.html">Temp History</a>&nbsp;&nbsp;<FONT COLOR="#FFFFFF">-</FONT>&nbsp;&nbsp;<a href="entry_list.html">Temp Entries</a>
&nbsp;&nbsp;<FONT COLOR="#FFFFFF">-</FONT>&nbsp;&nbsp;<a href="/admin">Admin</a>
</div>

<table>
<tr>
<td style="height:100px;width:160px">
<iframe src="live_readout.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px;" frameBorder="0" scrolling="no">
</iframe>
</td>
<td style="height:100px;width:260px">
<iframe src="live_forecast.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
</iframe>
</td>
<td style="height:100px;width:150px">
<iframe src="live_power.html" style="height:100%;width:100%;position:relative;top:0px;bottom:0px" frameBorder="0" scrolling="no">
</iframe>
</td>
</tr>
</table>


<iframe src="http://192.168.10.50:8800/" width="1890" height="800" position:relative;bottom:0px;bottom:0px align="bottom" frameBorder="0">
</iframe>


</html>
