<html>
<head>
<title>
Mining Shed Monitor - Live Pool Monitor
</title>
<meta http-equiv="refresh" content="18000">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">              
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
</head>

<style> table {	border-collapse: collapse;} table, th, td {border: 1px solid #606060; padding-left: 10px; padding-right: 10px </style>

<table>
<tr>
<th colspan=5 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Live Pool Monitor</FONT></th>
<th colspan=1 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Totals</FONT></th>
<th colspan=1 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ total_monthly }}</FONT></th>  
<th colspan=1 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ total_daily }}</FONT></th>  
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Coin</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Confirmed</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Last 24hr</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Hash</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Nethash</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Price</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Monthly</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Daily</FONT></td>
</tr>
<tr> 
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_coin }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_last24hr }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_hashrate }}</FONT></td>   
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_nethash }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_price }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_profit }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_daily_profit }}</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">BTC</FONT></td>              
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_hashrate }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_nethash }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_price }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_profit }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_daily_profit }}</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">DCR</FONT></td>              
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_hashrate }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_nethash }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_price }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_profit }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_daily_profit }}</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">AEG</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ aeg_price }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ aeg_profit }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ aeg_daily_profit }}</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">SPACE</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_dashboard.0 }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">N/A</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_dashboard.1 }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_profit.5 }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_profit.2 }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_profit.0 }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ space_profit.1 }}</FONT></td></tr>
</table>

</html>
