<html>
<head>
<title>
Mining Shed Monitor - Live Pool Monitor
</title>
<meta http-equiv="refresh" content="1825">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
</head>

<style> table { border-collapse: collapse;} table, th, td {border: 1px solid #606060; padding-left: 10px; padding-right: 10px </style>

<table>
<tr>
<th colspan=3 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Wallet Balance</FONT></th>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Coin</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Balance</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">Price</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">ETH</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ eth_balance_price }}</FONT></td>
</tr>
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">BTC</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ btc_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">DCR</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ dcr_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">AEG</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ aeg_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ aeg_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">SIA</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ sia_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ sia_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">UBQ</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ ubiq_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ ubiq_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">RVN</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rvn_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ rvn_balance_price }}</FONT></td>
</tr> 
<tr>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">XRP</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ xrp_balance }}</FONT></td>
<td align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ xrp_balance_price }}</FONT></td>
</tr> 
<tr>
<th colspan=2 align="right" style="white-space: nowrap;text-align:right"><FONT COLOR="#A0A0A0">Total:</FONT></th>
<th colspan=1 align="center" style="white-space: nowrap;text-align:center"><FONT COLOR="#A0A0A0">{{ total_balance }}</FONT></th>
</tr>
</table>
