<html>
<head>
<title>
Mining Shed Monitor - Live MPH Pool Monitor
</title>
<meta http-equiv="refresh" content="1825">
</head>
<body bgcolor="#000000">
<style> table {	border-collapse: collapse;} table, th, td {border: 1px solid #606060; padding-left: 10px; padding-right: 10px </style>

<table>
<tr>
<th colspan=3 align="center" nowrap><FONT COLOR="#A0A0A0">MPH Pool</FONT></th>
</tr>
<tr>
<td align="center" nowrap><FONT COLOR="#A0A0A0">Confirmed ETH</FONT></td>
<td align="center" nowrap><FONT COLOR="#A0A0A0">ETH Last 24hr</FONT></td>
<td align="center" nowrap><FONT COLOR="#A0A0A0">ETH Nethash</FONT></td>
</tr>
<tr> 
<td align="center"><FONT COLOR="#A0A0A0">{{ eth_balance }}</FONT></td>
<td align="center"><FONT COLOR="#A0A0A0">{{ eth_last24hr }}</FONT></td>
<td align="center"><FONT COLOR="#A0A0A0">{{ eth_nethash }}</FONT></td>
</tr>
</table>

</html>
