<html>
<head>
<title>
Current Coin Prices
</title>
<meta http-equiv="refresh" content="1865"> 
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.css">
{% load staticfiles %}
{% static "_arrow_small.jpg" as img_train %}
</head>
<body bgcolor="#000000">
<p>
<style> table { border-collapse: collapse;} table, th, td {border: 1px solid #606060; padding-left: 10px; padding-right: 10px </style>

<marquee behavior="scroll" direction="left">{% for coin in coins %} <b><u>{{ coin.0 }}</b></u>: ${{ coin.1 }} <font color="{{ coin.3 }}">{{ coin.4 }} <img src="/static/images/{{ coin.3 }}_{{ coin.2 }}_arrow.gif" width="15" height="15"></font>&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}</div></marquee>

</html>
